html{
  height:100%;
}
body{
  height: inherit;
}
h2{
  font-size: 130%;
}
#mainIMG{
  border-radius:40%;
  height:210px;
  width: 150px;
  padding: 5px;
  margin: auto;
}
#main_flex > :first-child{
  text-align: center;
  display: block;
}
#about{
  width: 100%;
  height: 50%;
  padding: 5px;
}
#about p{
  font-size: 120%;  
  line-height: 1.6;
}
#main_flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 60%;
  margin: auto;
  margin-bottom: 50%;
}
#contact {
  display: flex;
  flex-direction: column;
  height: 16%;

}
#contact_info{
  display: flex;
  justify-content: space-around; 
  width:100%;
  margin-bottom: 0px;
}
#contact_info p{
  color: hsl(120, 100%, 50%);
}
#ds-projects{
  width: 80%;
  margin: auto;
}
#ds-projects li{
  color: white;
  font-size: 80%;
}
#links{
  font-size: 100%;
}
#header.fluid-row{
  width: 100%;
  text-align: center;
}
.title{
  padding-bottom: 20px;
}
.main-container{
  height:100%;
}
.main-heading{
  color: red;
}

.email{
  color: hsl(120, 100%, 50%);
}
.phone{
  color: hsl(120, 100%, 50%);
}
.description {
  color:  white !important;
  font-size: 110%;
  margin-left: 20px;
}
.project_Table{
  width: 90%;
  margin: auto;
  padding: 10px;
}