body{
  --background-color: #e7dede;
  --nav-back: #333333;
  --header-color: rgb(121, 121, 121);
  --color-1: white;
  --color-2: #003355;
  --color-3: red;
}
html{
  height: 100%;
}
body{
  height: inherit;
  background-color: var(--color-2);
  padding-bottom: 0px !important;
}
#body1 body{
  font-size: 1.3em;
}
#body2 body{
  font-size: 1em;
}
#basic h2{
  margin-top: 0px;
}
/*Navigation*/
.navbar{
  background-color: var(--nav-back);
}
.navbar-default .navbar-brand{
  color: var(--color-1);
}
.navbar-defaut a.navbar-brand:hover{
  color: var(--color-1);
}
.navbar-default .navbar-nav>li>a{
  color: var(--color-1);
}
.navbar-default .navbar-nav>li>a:hover{
  color: var(--color-1);
}

/*Basic Intro Section*/
#basic{
  float: left;
  width: 30%;
  text-align: center;
  margin-right: 10px;
}
#mainIMG{
  border-radius:40%;
  height:210px;
  width: 150px;
  padding: 5px;
  margin: 0 auto;
}

/*About Me Section*/
#about{
  width: 60%;
  height: 30%;
  padding: 5px;
  margin-right: 10px;
  float: right;
}
#about p{
  font-size: 120%;  
  line-height: 1.6;
}

/*Credentials and Skills*/
#clear-flex{
  clear: left;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
#clear-flex ul{
  margin: 0px;
  position: relative;
  right: 27px;
}
#clear-flex h1{
  margin-left: 15px;
}
#skills{
  width: 30%;
}
#credentials{
  width: 40%;
}

/*Contact*/
#contact{
  height: 12%;
  max-width: 50%;
  margin-left: 60px;
  margin-top: 40px;
}
#contact h1{
  margin: 0;
  margin-top: 6px;
}
#contact_info{
  
}
#contact_info p{
  color: var(--color-3);
  padding: 0;
  margin: 0;
}
#contact h2{
  color: var(--color-2);
}

/*General*/
.flex{
  display: flex;
}

#body1 h2{
  font-size: 130%;
}
#contact .main-heading{
  font-size: 1.5em !important;
  padding-bottom: 6px;
}


#main_flex > :first-child{
  text-align: center;
  display: block;
}

#main_flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 60%;
  margin: auto;
  margin-bottom: 50%;
}

#ds-projects{
  width: 80%;
  margin: auto;
}
#ds-projects li{
  color: var(--nav-back);
  font-size: 80%;
}
#links{
  font-size: 100%;
}
#header.fluid-row{
  width: 100%;
  text-align: center;
}
.title{
  padding-bottom: 20px;
}
.main-container{
  min-height: 100%;
  width: 89% !important;
  margin: 0;
  background-color: var(--background-color);
  padding: 0px;
}
#body1 .main-heading{
  color: var(--header-color);
  font-size: 2.7em;
}

.email{
  color: var(--color-3);
}
.phone{
  color: var(--color-3);
}
.description {
  color:  var(--nav-back) !important;
  font-size: 110%;
  margin-left: 20px;
}
.project_Table{
  width: 90%;
  margin: auto;
  padding: 10px;
}

#number, #emailaddr {
   font-weight: 7; 
   color: black;
   padding-right: 10px;
}

@media only screen and (max-width: 995px) {
  #credentials {
    font-size: 1.2em;
  }
  #skills {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 930px) {
 #clear-flex{
   display: block;
 }
 #credentials{
   width: 90%;
   margin: 0 auto;
   font-size: 1.1em;
   text-align: center;
   padding-top: 10px;
 }
 #credentials ul{
   text-align: left;
   width: 70%;
   margin: 0 auto;
 }
  #skills{
   width: 90%;
   margin: 0 auto;
   font-size: 1.1em;
   text-align: center;
   padding-bottom: 10px;
 }
 #skills ul{
   text-align: left;
   width: 70%;
   margin: 0 auto;
 }
 #contact {
   font-size: 1.1em;
 }
}


@media only screen and (max-width: 831px) {
   #credentials {
    font-size: 1em;
  }
  #skills {
    font-size: 1em;
  }
  #about{
    font-size: 1.1em;
  }
  
  #basic h2{
    font-size: .9em;
  }
}

 @media only screen and (max-width: 663px) {
   #credentials {
    font-size: .9em;
  }
  #skills {
    font-size: .9em;
  }
  #about{
    font-size: 1em;
  }
   #contact {
   font-size: 1em;
 }
} 
 @media only screen and (max-width: 560px) {
   #credentials {
    font-size: .8em;
  }
  #skills {
    font-size: .8em;
  }
  #about{
    font-size: .9em;
  }
   #contact {
   font-size: .9em;
 }
  #basic h2{
    font-size: .8em;
  }
} 
 @media only screen and (max-width: 505px) {
   #credentials {
     font-size: .75em;  
   }
  #skills {
    font-size: .75em;
  }
  #about{
    font-size: .85em;
  }
   #contact {
   font-size: .8em;
 }
} 
 @media only screen and (max-width: 479px) {
   #credentials {
     font-size: .7em;  
   }
  #skills {
    font-size: .7em;
  }
  #about{
    font-size: .75em;
  }
} 